@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, html{
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, Alice, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
}

.pause {
  animation-play-state: paused !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
}

/* Pause animation when hovering over the container or any card inside */
.relative:hover .animate-marquee,
.animate-marquee:hover {
  animation-play-state: paused !important;
}





